In [9]:
import keyword
print(len(keyword.kwlist))

35

In [10]:
import keyword
print((keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# List

In [12]:
Raj = ['Raj', 12, '&8123', 'Programming', 18.9]
print(Raj)
print(type(Raj))

['Raj', 12, '&8123', 'Programming', 18.9]
<class 'list'>

In [17]:
_Raj = list('python')
print(_Raj)
print(type(_Raj))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [19]:
# We can pass list inside a list
mixed = [12, 16, [23,10, 'Raj'], 56, 'Python']
for i in mixed[2]:
    print(f'{type(i)}: {i}')

<class 'int'>: 23
<class 'int'>: 10
<class 'str'>: Raj

# Indexing and Slicing
[start:stop:skip]
# start index: stop index+1 : step

In [24]:
mixed[2]

[23, 10, 'Raj']

In [26]:
mixed[2][0]

23

In [22]:
result = mixed[2][0] * 10
result

230

In [30]:
# [start:stop:skip] I have not mentioned where to stop, it will continue till last
mixed[2::] # start from 2nd index and continue till last

[[23, 10, 'Raj'], 56, 'Python']

In [31]:
# start: stop+1 
mixed[0:2] # to slice till 2nd index we have to use + 1

[12, 16]

In [34]:
mixed[0:2+1]

[12, 16, [23, 10, 'Raj']]

In [36]:
mixed[2][0::2] # skip 2, tellling python to take the second index value from mixed variable and from that value take 0th value till last by skipping 2

[23, 'Raj']

In [37]:
_Raj

['p', 'y', 't', 'h', 'o', 'n']

In [39]:
_Raj[:4] # I have not mentioned where to start, it it always start from 0 index and comntnue till the stop index\
# Here stop index is 4, it will stop at third index

['p', 'y', 't', 'h']

In [40]:
_Raj[:4: 3] # [0:4-1: + 3 step]

['p', 'h']

In [41]:
# We can use the + operator to combine two list slices
new_list = [12,14,67,89,90,78,789,34,86,17]
new_list[0:2] + new_list[4:6]

[12, 14, 90, 78]

# Reverse indexing

In [42]:
new_list[-1::-1]

[17, 86, 34, 789, 78, 90, 89, 67, 14, 12]

# Difference between indexing and slicing

In [23]:
# indexing (single value)
nums = [10, 20, 30, 40, 50, 60]
nums[-1]

60

In [24]:
# slicing(range of values)
nums[-1:-5:-1]

[60, 50, 40, 30]

# Replacing value in a list

In [43]:
new_list[0] = 'Raj'
new_list

['Raj', 14, 67, 89, 90, 78, 789, 34, 86, 17]

In [46]:
# replacing multiple values
new_list[1:4] = 12 # will not work if I pass single value

TypeError: must assign iterable to extended slice

In [47]:
# # replacing multiple values. We have to pass the exact number of values
new_list[1:4] = [12, 13,14]
new_list

['Raj', 12, 13, 14, 90, 78, 789, 34, 86, 17]

In [48]:
# now if I pass the replacement of mutilple values with a single value inside a list [] then
new_list[0:2] = ['Python']
new_list # 'Raj' and 12 got replaced with 'Python'

['Python', 13, 14, 90, 78, 789, 34, 86, 17]

In [49]:
mixed

[12, 16, [23, 10, 'Raj'], 56, 'Python']

In [51]:
mixed[2][1:2+1] = [11, 'Ratnajit']  # replacing values in a list inside a inside

[12, 16, [23, 11, 'Ratnajit'], 56, 'Python']

# Append

In [52]:
mixed.append('SQL') # append insert value at the end of the list, but using append we can insert only one value

In [53]:
mixed

[12, 16, [23, 11, 'Ratnajit'], 56, 'Python', 'SQL']

# extend

In [54]:
mixed.extend([100,101,'India']) # extend will also insert values at the end of the list, but we can insert mutiple values
mixed

[12, 16, [23, 11, 'Ratnajit'], 56, 'Python', 'SQL', 100, 101, 'India']

# insert

In [3]:
# syntax â†’ .insert(index position, value to be inserted)
mixed = [12, 16, [23, 11, 'Ratnajit'], 56, 'Python', 'SQL', 100, 101, 'India']
mixed

[12, 16, [23, 11, 'Ratnajit'], 56, 'Python', 'SQL', 100, 101, 'India']

In [4]:
mixed.insert(2,'NLP')
mixed # see NLP inserted at second index postion

[12, 16, 'NLP', [23, 11, 'Ratnajit'], 56, 'Python', 'SQL', 100, 101, 'India']

# Removing values from a list

# Using POP, list_name.pop(index). We have to give the index number for pop.

In [5]:
mixed

[12, 16, 'NLP', [23, 11, 'Ratnajit'], 56, 'Python', 'SQL', 100, 101, 'India']

In [6]:
mixed.pop(3) # feature of pop is the it will show us the removed element from the list

[23, 11, 'Ratnajit']

# .Index
index will show the index postion of only the first occurance of the value

In [8]:
practice = [10, 40, 89, 40, 802, 40, 40.1]
practice

[10, 40, 89, 40, 802, 40, 40.1]

In [12]:
practice.index(40) # index will show the index postion of only the first occurance of the value

1

In [23]:
for postion, value in enumerate(practice): # enumerate returns two values one is index postion and and the second is the value
    if value == 40:
        print(postion)

1
3
5

In [24]:
for postion, value in enumerate(practice):
    print(f'index:{postion}, value:{value}')

index:0, value:10
index:1, value:40
index:2, value:89
index:3, value:40
index:4, value:802
index:5, value:40
index:6, value:40.1

# Remove
list_name.remove(value)
removes first occurance of the value

In [25]:
practice

[10, 40, 89, 40, 802, 40, 40.1]

In [26]:
practice.remove(40)

In [27]:
practice # so we can see it removed the first 40

[10, 89, 40, 802, 40, 40.1]

In [32]:
practice = [10, 89, 40, 802, 40, 40.1]
practice

[10, 89, 40, 802, 40, 40.1]

In [33]:
# running loop to remove all occurance of 40
for i in practice:
    if i == 40:
        practice.remove(i)
print(practice)

[10, 89, 802, 40.1]

In [37]:
prac = [10, 89, 40, 802, 40, 40.1]
prac

[10, 89, 40, 802, 40, 40.1]

In [41]:
removed = []
for i, z in enumerate(prac):
    if z == 40:
       val =  prac.pop(i)
       removed.append(val)
print(removed)

[40, 40]

# Clear, it will remove everything inside the list

In [42]:
prac.clear()

In [43]:
prac

[]

# del, del variable_name, del list_name[start:stop]
deleting multiple value using del:
del list_name[1:4]

Delete entire list or dictionary:
del list_name
del dict_name

In [44]:
practice

[10, 89, 802, 40.1]

In [46]:
del practice[1:] # deleting values inside a list by indexing, Im telling python to delete every value from 1st psotion till the last index position

In [47]:
practice

[10]

In [48]:
del practice # deleting the variable practice

In [49]:
practice

NameError: name 'practice' is not defined

In [1]:
# reverse list using indexing
names = ['Raj', 'Deep', 'Riya']
names[-1::-1]

['Riya', 'Deep', 'Raj']

# Deep copy vs swallow copy

In [3]:
# swallow copy
names1 = names 
print(id(names))
print(id(names1))# we can check both the address are same

2628519376256
2628519376256

In [4]:
# deep copy
names2 = names.copy()
print(id(names))
print(id(names2))# we can check both the address are different

2628519376256
2626424696768

# Sorting

# .sort(reverse=True/False)

In [5]:
# sort
names2

['Raj', 'Deep', 'Riya']

In [6]:
names2.sort(reverse=False)
print(names2)

['Deep', 'Raj', 'Riya']

# sorted(iteration, key=None, reverse=True/False)

In [71]:
# sorted
sorted(names2, key=None, reverse=True)

['Riya', 'Raj', 'Deep']

In [72]:
# Sort strings by their last character, showing use of key
words = ["apple", "banana", "kiwi", "grape"]
sorted(words, key=lambda x: x[-1])

['banana', 'apple', 'grape', 'kiwi']

In [73]:
# Sort strings by their length
words = ["apple", "banana", "kiwi", "grape"]
sorted(words, key=lambda x: len(x))

['kiwi', 'apple', 'grape', 'banana']

# Reverse

In [77]:
words

['apple', 'banana', 'kiwi', 'grape']

In [78]:
words.reverse()
words

['grape', 'kiwi', 'banana', 'apple']

# len, it shows the total count of the list

In [79]:
len(words)

4

# min, max, sum

In [80]:
prac = [10, 89, 40, 802, 40, 40.1]
prac

[10, 89, 40, 802, 40, 40.1]

In [81]:
min(prac)

10

In [82]:
max(prac)

802

In [83]:
sum(prac)

1021.1

# Sets

In [2]:
# one way of writing set is by using set(value)
a = [12,34,89,45,67,90, 109, 15]
b = set(a) # here I have passed set to the list
print(b) # we can check the result is displayed not in the same order I entered thats why we call it unordered.

{34, 67, 12, 45, 109, 15, 89, 90}

In [3]:
# another way of writing set is using curly bracket {}
c = {12, 15, 16, 12, 16}
c # we can see the duplicate values are removed

{12, 15, 16}

In [9]:
# removing duplicates
store = [12, 'raj', 'python', 'raj', 12] # list contains duplicates
store = list(set(store))
print(store) # duplicates are removed

[12, 'raj', 'python']

# Union 
Union combines elements from both sets (no duplicates)
set1 | set2

In [10]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result = set1 | set2
print(result)

{12, 14, 15, 16, 17, 18}

In [12]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result = set1.union(set2) 
result # same way but using .union

{12, 14, 15, 16, 17, 18}

# Intersection
Common elements between two sets
set1 & set2

In [13]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result1 =  set1 & set2
result1

{15, 16}

In [14]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result1 =  set1.intersection(set2)
result1

{15, 16}

# Difference
Elements in set1 that are NOT in set2
set1 - set2

In [7]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result2 = set1 - set2
result2

{12, 14}

In [15]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result2 = set1.difference(set2)
result2 # elements in set1 that are not in set2

{12, 14}

In [16]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result3 = set2.difference(set1)
result3 # elements in set2 which are not in set1

{17, 18}

# Symmetric difference
Elements that are in either set1 or set2, but NOT in both
set1 ^ set2

In [8]:
set1 = {12,12,14,15,16}
set2 = {15,16,17,18}
result2 = set1 ^ set2
result2

{12, 14, 17, 18}

In [15]:
# set is Heterogeneous, can store diffrent datatype
set_new = {'Raj', 'ratnajit', 13, 10.0, True}
print(set_new)
print(type(set_new))

{True, 'Raj', 'ratnajit', 10.0, 13}
<class 'set'>

# adding in a set using .add
we can add only one element using .add, and that value will be added at the end

In [16]:
set1

{12, 14, 15, 16}

In [17]:
set1.add(90)
set1

{12, 14, 15, 16, 90}

In [18]:
set1.add('Raj')
set1

{12, 14, 15, 16, 90, 'Raj'}

# to insert multiple values, we can use .update in set

In [19]:
set1

{12, 14, 15, 16, 90, 'Raj'}

In [20]:
set1.update({107, 'ML', 'Deep Leaning'})
set1

{107, 12, 14, 15, 16, 90, 'Deep Leaning', 'ML', 'Raj'}

# Deleting values from a set

In [21]:
# as set in unordered, indexing is not possible. If we use .pop in sets it will remove any random value
set1.pop(12) # will not work, as indexing not possible in sets

TypeError: set.pop() takes no arguments (1 given)

In [22]:
set1.pop() # randomly deleted 'ML'

'ML'

# Remove particular value in set by using remove

In [23]:
set1

{107, 12, 14, 15, 16, 90, 'Deep Leaning', 'Raj'}

In [24]:
set1.remove('Raj')
set1

{107, 12, 14, 15, 16, 90, 'Deep Leaning'}

In [8]:
# Using discard
set1 = {107, 12, 14, 15, 16, 90, 'Deep Learning'}
set1.discard('Deep Learning')
set1 # discard and remove does the same thing, but discard does not gives an error if the element is not found

{12, 14, 15, 16, 90, 107}

# isdisjoint() checks whether two sets have NO common elements.

In [18]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
set1.isdisjoint(set2) # there are no common elemnets in set1 and set2 hence output is true

True

In [19]:
set1 = {1, 2, 4}
set2 = {4, 5, 6}
set1.isdisjoint(set2)

False

# Dictionary
it is also written is curly brackets as it is much similiar to sets

In [20]:
student = {'name':'Raj', 'age':28, 'course':'Python', 'marks':92, 'city':'Kolkata'}
student # here keys are name. age, course, marks, city
# values are Raj, 28, Python, 92, Kolkata

{'name': 'Raj', 'age': 28, 'course': 'Python', 'marks': 92, 'city': 'Kolkata'}

# How to access value of a dictionary

In [21]:
student['name'] # to access the value we have to pass the key name

'Raj'

In [2]:
dict1 = {'name':'Ratnajit', 'place':'India', 'roles':['Data Scientist','Data Science Junior'], 'hobbies':('Fitness','Football'), 'education':{'one':'Masters', 'two':'Bachelors'}}
# values can be of any datatype like list, tuple, sets
dict1

{'name': 'Ratnajit',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

In [26]:
# another way of accesing the value
dict1.get('hobbies')

('Fitness', 'Football')

In [29]:
dict1['roles'][-1] # im telling python to select the last value
# in dictionary values are the main part, we use key just to store the values

'Data Science Junior'

In [32]:
# nested dictionary is also possible in dictionary
dict1['education']

{'one': 'Masters', 'two': 'Bachelors'}

In [33]:
dict1['education']['one']

'Masters'

# Replacing in a dictionary

In [34]:
dict1

{'name': 'Ratnajit',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

In [35]:
dict1['name'] = 'Raj'
dict1

{'name': 'Raj',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

# Inserting value in a dictionary
To insert value in a dictionary we have to give both the key and value

In [36]:
dict1['Companies'] = ['Tech Valley', 'Tech Mahindra']
dict1

{'name': 'Raj',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'},
 'Companies': ['Tech Valley', 'Tech Mahindra']}

# Deleting value from a dictionary

# Popitem()
removes the last inserted pair. We do not have to put a value inside the brackets, its just popitem()

In [37]:
dict1.popitem()
dict1

{'name': 'Raj',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

# Pop
to remove a particular value using its key

In [38]:
dict1.pop('hobbies')
dict1

{'name': 'Raj',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

# Using del

In [39]:
del dict1['name']
dict1

{'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

# Some dictionary methods

In [40]:
#.copy(), to create a copy of the dictionary
dict2 = dict1.copy()
dict2

{'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

In [41]:
dict2['hobbies'] = ['coding', 'travelling']
dict2

{'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'education': {'one': 'Masters', 'two': 'Bachelors'},
 'hobbies': ['coding', 'travelling']}

In [42]:
dict1

{'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

# copy will not impact the original dictionary

In [43]:
dict2.keys() # returns all the keys in the dictionary (not a list, but a view object)

dict_keys(['place', 'roles', 'education', 'hobbies'])

In [44]:
dict2.values() # returns all the values in the dictionary (not a list, but a view object)

dict_values(['India', ['Data Scientist', 'Data Science Junior'], {'one': 'Masters', 'two': 'Bachelors'}, ['coding', 'travelling']])

In [45]:
dict2.items() # returns all the keyâ€“value pairs of the dictionary as a list of tuples.

dict_items([('place', 'India'), ('roles', ['Data Scientist', 'Data Science Junior']), ('education', {'one': 'Masters', 'two': 'Bachelors'}), ('hobbies', ['coding', 'travelling'])])

In [46]:
for a,b in dict2.items():
    print(f'key:{a}')
    print(f'values:{b}')

key:place
values:India
key:roles
values:['Data Scientist', 'Data Science Junior']
key:education
values:{'one': 'Masters', 'two': 'Bachelors'}
key:hobbies
values:['coding', 'travelling']

# Tuple

In [3]:
dict1

{'name': 'Ratnajit',
 'place': 'India',
 'roles': ['Data Scientist', 'Data Science Junior'],
 'hobbies': ('Fitness', 'Football'),
 'education': {'one': 'Masters', 'two': 'Bachelors'}}

In [4]:
tuple_care = tuple(dict1)
tuple_care # by default if we chnage a ditionary into a tuple, the keys will be changed into tuple and it will be displayed

('name', 'place', 'roles', 'hobbies', 'education')

In [8]:
tuple_care1 = tuple(dict1.values())
print(tuple_care1)
print(type(tuple_care1))

('Ratnajit', 'India', ['Data Scientist', 'Data Science Junior'], ('Fitness', 'Football'), {'one': 'Masters', 'two': 'Bachelors'})
<class 'tuple'>

In [9]:
Raj = ['Raj', 12, '&8123', 'Programming', 18.9]
print(Raj)

['Raj', 12, '&8123', 'Programming', 18.9]

In [10]:
Raj_tuple = tuple(Raj)
Raj_tuple

('Raj', 12, '&8123', 'Programming', 18.9)

In [13]:
# another way of writing tuple is using round brackets
Raj_tuple_1 = ('Raj', 12, '&8123', 'Programming', 18.9)
Raj_tuple_1

('Raj', 12, '&8123', 'Programming', 18.9)

In [15]:
my_dict =  {('Raj', 'Ratnajit'): 10}
my_dict[('Raj', 'Ratnajit')] # so we can see a dictionary key have tuple

10

# Indexing and slicing
As tuple is ordered, indexing and slicing are possible

In [16]:
Raj_tuple

('Raj', 12, '&8123', 'Programming', 18.9)

In [17]:
Raj_tuple[2] # indexing

'&8123'

In [19]:
Raj_tuple_1 = ('Raj', 12, '&8123', 'Programming', 18.9, (1,2,3,4))
Raj_tuple_1

('Raj', 12, '&8123', 'Programming', 18.9, (1, 2, 3, 4))

In [25]:
Raj_tuple_1[-1][0:3+1] # slicing. (start: stop + 1 : step)

(1, 2, 3, 4)

In [26]:
Raj_tuple_1[:-1] # slicing. Start is not mentioned so it will always start from 0 
# and stop will always stop at the previous index postion hence it displayed stop at 18.9

('Raj', 12, '&8123', 'Programming', 18.9)

# Type casting
As tuple is immutable, changes are not possible.
However we can use type casting to make changes

In [27]:
Raj_tuple_1

('Raj', 12, '&8123', 'Programming', 18.9, (1, 2, 3, 4))

In [33]:
Raj_list_1 = list(Raj_tuple_1)
Raj_list_1.insert(1, 'So we can use type to make changes')
Raj_tuple_1 = tuple(Raj_list_1)
Raj_tuple_1 # we can make changes easily by type casting technique

('Raj',
 'So we can use type to make changes',
 12,
 '&8123',
 'Programming',
 18.9,
 (1, 2, 3, 4))

In [34]:
Raj_list_1 = list(Raj_tuple_1)
Raj_list_1.remove('Programming')
Raj_tuple_1 = tuple(Raj_list_1)
Raj_tuple_1 # we can see 'Programming' is removed

('Raj', 'So we can use type to make changes', 12, '&8123', 18.9, (1, 2, 3, 4))

# Basic operations in tuple
We can perform almost all the operations of lists in tuple

In [35]:
Raj_tuple_1

('Raj', 'So we can use type to make changes', 12, '&8123', 18.9, (1, 2, 3, 4))

In [36]:
Raj_tuple_1.count('Raj')

1

In [40]:
sum(Raj_tuple_1[-1])

10

In [44]:
# sort it by second character
words = ("apple", "banana", "kiwi", "grape")
words = tuple(sorted(words, key=lambda x: x[1], reverse=False))
words # result of sorted is always in a list format so we have to use type casting

('banana', 'kiwi', 'apple', 'grape')

In [45]:
words.sort() # changes the list in-place, as tuple is immutable, .sort() function will not work with tuple

AttributeError: 'tuple' object has no attribute 'sort'

# String

In [46]:
sen = 'Python'
sen

'Python'

In [60]:
# store mutiple lines in a variable
sen1 = ''' I am a good boy, 
I go to school,
I play football'''
sen1

' I am a good boy, \nI go to school,\nI play football'

# Indexing and slicing of string

In [50]:
sen2 = 'Python Programming' # every character is a index postion including spaces
for position, char in enumerate(sen2):
    print(f'position:{position}, value:{char}')

position:0, value:P
position:1, value:y
position:2, value:t
position:3, value:h
position:4, value:o
position:5, value:n
position:6, value:
position:7, value:P
position:8, value:r
position:9, value:o
position:10, value:g
position:11, value:r
position:12, value:a
position:13, value:m
position:14, value:m
position:15, value:i
position:16, value:n
position:17, value:g

In [51]:
sen2[0] # indexing

'P'

In [52]:
sen2[0:] # slicing

'Python Programming'

# Methods in string

# find
search a substring

In [53]:
sen2

'Python Programming'

In [54]:
sen2.find('on') # it will show the index postion of the starting of the substring, 'o' is positioned at 4

4

In [55]:
sen.find('c++') # if the substring is not present it will return -1

-1

In [56]:
sen.index('on') # using index, similiar to find however if the substring is not present it will return an error

4

In [57]:
sen.index('c++')

ValueError: substring not found

# replace in string

In [61]:
sen1

' I am a good boy, \nI go to school,\nI play football'

In [63]:
sen1.replace('football', 'cricket')

' I am a good boy, \nI go to school,\nI play cricket'

In [64]:
sen1 # replace did not change the sen1 variable. Replace creates a new string doesnt replaces the original variable
# string are immutable

' I am a good boy, \nI go to school,\nI play football'

In [65]:
sen1.upper()

' I AM A GOOD BOY, \nI GO TO SCHOOL,\nI PLAY FOOTBALL'

In [66]:
sen1.lower()

' i am a good boy, \ni go to school,\ni play football'

# Strip()
trim function

In [69]:
a = '  Python'
a = a.lstrip()
a # left trim

'Python'

In [70]:
b = 'Java   '
b = b.rstrip()
b # right trim

'Java'

In [71]:
d = ' c++  '
d = d.strip()
d

'c++'

# Split

In [74]:
sen1

' I am a good boy, \nI go to school,\nI play football'

In [75]:
sen1.split() # dy default it splits by spaces

['I',
 'am',
 'a',
 'good',
 'boy,',
 'I',
 'go',
 'to',
 'school,',
 'I',
 'play',
 'football']

In [78]:
check = 'I am, good boy, how are you man? I am fine, thank you'
check.split(',')

['I am', ' good boy', ' how are you man? I am fine', ' thank you']

# Join

In [81]:
a_list = ['I', 'am', 'Programmer']
a_list

['I', 'am', 'Programmer']

In [82]:
' '.join(a_list)

'I am Programmer'

In [83]:
' * '.join(a_list)

'I * am * Programmer'

# input
takes input

In [84]:
take_input = input('Type your name: ')

Type your name:  raj

In [85]:
lib = {'Raj': 123} # creatinng a library

In [97]:
take_input = input('Type your name: ')
if take_input.isalpha():
    if take_input in lib.keys():
        password = input('Enter your password: ')
        if lib[take_input] == password:
            print('user granted')
        else:
            print('Youre busted')
    else:
        print('user not found')
else:
    print('Please enter in alphabets')

Type your name:  123

Please enter in alphabets

In [98]:
enter_age = input('Enter age: ')

Enter age:  30

In [99]:
type(enter_age) # input always taken the userinput in string format

str

In [101]:
enter_age1 = int(input('Enter age: '))

Enter age:  28

In [102]:
type(enter_age1) # we have use type casting

int

# F string
F-string allows you to insert variable values directly inside a string using {}.

In [103]:
name = input('Enter your name: ')
city = input('Enter city: ')
print(f'My name is {name}, my city is {city}')

Enter your name:  Ratnajit
Enter city:  kolkata

My name is Ratnajit, my city is kolkata

# R string
Raw string: A raw string means Python will not treat backslashes (\) as escape characters.
Normally, \ gives special meaning to characters after it, like \n (newline), \t (tab), \s, \d, etc.
But in a raw string, these escape sequences are not processed.

In [104]:
cha = 'i am\good\at it'
cha

'i am\\good\x07t it'

In [105]:
cha = r'i am\good\at it'
cha

'i am\\good\\at it'

In [107]:
# File path without raw string
path = 'C:\newfolder\data'
path # this will gives error because \n means newline

'C:\newfolder\\data'

In [108]:
# File path with raw string
path = r'C:\newfolder\data'
path # this will work as raw string keeps the backslashes as they are

'C:\\newfolder\\data'